body {
  background-color: rgb(252, 252, 252);
  padding: 10px;
}
.center-this {
  text-align: center;
}
.topper {
  padding-top: 30px;
}
#root {
  padding-bottom: 50px;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(152, 148, 148, 0.3);
  box-shadow: #717171;
}
.actions {
  margin-bottom: 0px;
}
.marginer.mini {
  margin-top: 10px;
}
.loader_image {
  text-align: center;
  height: 50%;
  width: 75%;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    177deg,
    rgb(169, 170, 171) 34%,
    rgb(119, 120, 127) 100%
  );
  outline: 1px solid #a5a9a6;
}
.pair.colorrow {
  background-color: #f9fafb;
}
/* Thin Scrollbar */
.top-padded.search {
  margin-top: 25px;
}
.pointer-class {
  cursor: pointer;
}
.overflow.this {
  overflow-y: scroll;
}
:root {
  scrollbar-color: rgba(45, 46, 55, 1) rgb(210, 210, 210) !important;
  scrollbar-width: thin !important;
}
tr.select-raised:hover {
  background-color: #6bcf82;
  color: white;
}
